NEXT_PUBLIC_SUPABASE_URL=https://ztoetlxicdkglvwjdxqt.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp0b2V0bHhpY2RrZ2x2d2pkeHF0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg3NzI1NDQsImV4cCI6MjEwNDM0ODU0NH0.aRsRVs4APkfqkpKbjYKctnvnMCbTJyDLZn-2prungLY
